html {
    font-size: calc(1em + 0.33vw);
    line-height: 1.8;
    background-color: #edf2f7;
}

.intro-and-nav{
    background-color: #ffffff;
}

.main-and-footer div{
    background-color: #ffffff;
}

code[class*="language-"],
pre[class*="language-"] {
    font-size: 90%;
    background-color: #3e3f48;
}
code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1.0rem;
    background-color: rgb(238, 238, 238);
}

pre code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.85rem;
    background-color: inherit;
}

h1,
h2,
h3,
h4 {
    font-family: arial, sans-serif;
    line-height: 1.125;
}

h1 {
    font-size: 1.6rem;
}

* + * {
    margin-top: 2rem;
}

pre {
    font-size: 0.7rem;
}

#main {
    font-size: 0.9rem;
}

#main p {
    margin-top: 0.5rem;
}

#navi {
    text-align: right;
}

