html {
    background-color: #F8FBFB;
}

h1,
h2,
h3,
h4 {
    font-family: Miriam Libre, serif;
    line-height: 1.125;
}
h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
h2 {
    font-size: 1.46rem;
}

* + * {
    margin-top: 2rem;
}

pre {
    font-size: 0.9rem;
}
