{{ define "main" }}
  <main id="main">
      <div id="navi">
        <a href="https://github.com/noborus/ov"><img width="40" src="/images/github.svg" alt="github"> </object></a>
        <a href="https://github.com/noborus/ov/releases"><img src="https://img.shields.io/github/v/release/noborus/ov?style=for-the-badge"></a>
      </div>
      <h1>{{ .Title }}</h1>
    {{ .Content }}
    <div class="h2-container">
      <h2 id="use-case" tabindex="-1">Use case</h2>
      <a href="#use-case"><svg aria-hidden="true" class="link-icon" viewBox="0 0 50 50" focusable="false">
        <use xlink:href="#link"></use> </svg>
      </a>
    </div>
    <ul class="patterns-list" id="list">
      {{ range .Pages.ByWeight  }}
      <li>
          <a href="{{ .RelPermalink }}">
            <svg
              class="bookmark"
              aria-hidden="true"
              viewBox="0 0 40 50"
              focusable="false"
            >
              <use xlink:href="#bookmark"></use>
            </svg>
            <b>{{ .File.TranslationBaseName }}</b> ‒ {{ .Title }}
          </a>
      </li>
      {{ end }}
    </ul>
  </main>
{{ end }}