[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/uzimihsr/hugo-theme-stack.git
[submodule "themes/hugo-theme-relearn"]
	path = themes/hugo-theme-relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
